<ion-view title="Bookmarks" id="page28">
  <ion-content padding="true" class="has-header">
    <ion-list id="bookmarks-list12">
      <ion-item class="item-avatar item-icon-right" id="bookmarks-list-item19">
        <img src="img/v1c7qGWMSKjMm4RFBaRg_speaker-3-269x300-150x150.jpg">
        <h2>Mihail Dimitrov</h2>
        <p>Developer</p>
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="bookmarks-list-item20">
        <img src="img/DMKMaJvCQHiiHy8VQcJM_Mapei-3-Foto-av-fabrikken-Photo-Sren-Bang-Jokumsen-500x358.jpg">
        <h2>Succevo</h2>
        <i class="icon ion-android-bookmark"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>