<ion-view title="Committee" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="committee-list15">
      <ion-item class="item-icon-left" id="committee-list-item15">
        <i class="icon ion-ios-person"></i>Mr. Felix Amberg
        <p>Switzerland</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item17">
        <i class="icon ion-ios-person"></i>Mr. Mikhail Belenky
        <p>Russia</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item39">
        <i class="icon ion-ios-person"></i>Ms. Antonia Comaro
        <p>Switzerland</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item40">
        <i class="icon ion-ios-person"></i>Mr. Martin Knights</ion-item>
      <ion-item class="item-icon-left" id="committee-list-item41">
        <i class="icon ion-ios-person"></i>Mr. Tom Melbye
        <p>Norway</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item42">
        <i class="icon ion-ios-person"></i>Dr. Harvey Parker
        <p>USA</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item16">
        <i class="icon ion-ios-person"></i>Dr. Harald Wagner
        <p>Prof. Dr. Bai Yun</p>
      </ion-item>
      <ion-item class="item-icon-left" id="committee-list-item43">
        <i class="icon ion-ios-person"></i>Dr. Harald Wagner
        <p>Austria</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>