<ion-view title="Social Networks" id="page26">
  <ion-content padding="true" class="has-header">
    <button id="socialNetworks-button12" style="font-size:20px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon-left ion-social-facebook"> Facebook</button>
    <button id="socialNetworks-button13" style="font-size:20px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon-left ion-social-twitter">Twitter</button>
    <button id="socialNetworks-button14" style="font-size:20px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon-left ion-social-linkedin">Linkedin</button>
    <button id="socialNetworks-button15" style="font-size:20px;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon-left ion-social-googleplus">Google +</button>
  </ion-content>
</ion-view>